@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";


@theme{

    --font-display: "Inter", sans-serif;

  


}


@layer base{
    html{

        font-family: var(--font-display);

    }


    body {


        background-color: cadetblue;

        font-family: "Inter", sans-serif;

        


    }



}


.input-box {

    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem; /* gap-3 */
    font-size: 0.875rem; /* text-sm */
    color: black;
    background-color: #f1f5f9; /* bg-slate-100 */
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem; /* assuming 'mb' was supposed to be 'mb-4' etc. */




}


.button-primary{

    background-color: azure;

    padding-right: 10px;
    padding-left: 10px;


}
