@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";


@theme{

    --font-display: "Inter", sans-serif;

  


}


@layer base{
    html{

        font-family: var(--font-display);

    }


    body {


        background-color: white;

        font-family: "Inter", sans-serif;

        


    }



}


.input-box {

    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem; /* gap-3 */
    font-size: 0.875rem; /* text-sm */
    color: black;
    background-color: #f1f5f9; /* bg-slate-100 */
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 1rem; /* assuming 'mb' was supposed to be 'mb-4' etc. */




}


.button-primary{


    @apply w-full text-sm font-medium text-white bg-blue-500 shadow-lg shadow-blue-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600;

}


/* This is for stuff from Recent Transacations */

.card {

    @apply bg-white p-6 rounded-2xl shadow-gray-100 border border-gray-200/50;


}

.card-button {

    @apply text-sm font-medium text-black bg-green-500/10 p-2 rounded-lg hover:bg-gray-500/20 hover:text-black;
}


.add-button{

    @apply flex items-center gap-1.5 text-xs md:text-sm md:text-sm font-medium text-green-600 bg-green-500/10 p-2 rounded-lg hover:bg-green-500/20 hover:text-green-600 cursor-pointer;


}

/*-------------AuthLayout file*/

.bigRec{

    width: 100vw;
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}